<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{ title }} - Concord University Lab Manager</title>
        {% else %}
            <title>Welcome to Concord University Lab Manager!</title>
        {% endif %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" integrity="sha384-Y5f2Hg8yVqt0EXZFehBQvU/g+zxG3HJPfLclUOg8n2hjit0eJGg17nMT+BxB6WLa" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Header -->
        {% include 'components/_header.html' %}

        <!-- Main Content -->
        <main class="flex-grow-1">
            <div class="container mt-4 pb-5">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}

                {# Page content will go here #}
                {% block content %}{% endblock %}
            </div>
        </main>

        <!-- Footer -->
        {% include 'components/_footer.html' %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
